.settings {
	border: 2px solid lightgray;
	padding: 1em;
}
.settings h3 {
	margin: 0 0 0.3em 0;
	// background-color: darkgray;
}
.settings p {
	margin: 0;
}
.settings section {
	margin: 0.2em 0em;
	border: 1px solid darkgray;
	padding: 0.5em;
}

.settings input[type="number"] {
	font-size: 1.4em;
	text-align: center;
	font-family: "Consolas", "Lucida Console", "Courier New";
	margin-bottom: 0.2em;
	width: 3em;
}

.flex-vertical {
    display: inline-flex;
    flex-direction: column;
	// justify-content: center;
	align-items: center;
}
